<script type="text/javascript">
  function hide_form(){
    $('#add_comment_label').removeAttr('onclick','hide_form();');
    $('#add_comment_label').attr('onclick','show_form();');
    $('#new_comment').hide();
    
  }
  function show_form(){
    $('#add_comment_label').removeAttr('onclick','show_form();');
    $('#add_comment_label').attr('onclick','hide_form();');
    $('#new_comment').show();
  }
</script>

<aside id="comments">
  <div class="comment_hd" ><%= t('title', :scope => 'refinery.blog.posts.show.comments') %></div>
  
  <% if (comments = @post.comments.approved).any? %>
    <%= render :partial => "comment", :collection => comments %>
  <% else %>
    <p>
      <%= t('none', :scope => 'refinery.blog.shared.comments') %>.
    </p>
  <% end %>

  <% flash.each do |key, value| %>
    <div id='flash' class="flash flash_<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div id="add_comment_label" class="comment_hd" style="cursor:pointer;width:200px" onclick = "show_form();"><%#= t('add..', :scope => 'refinery.blog.posts.show.comments') %>Add Comment</div>
  <%= form_for [refinery, :blog, @comment], :html => {:style => "display:none"} do |f| %>
    <%= render :partial => "/refinery/admin/error_messages",
               :locals => {
                 :object => f.object,
                 :include_object_name => true
               } %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email, :class =>"comment_email" %>
    </div>
    <div class='field message_field'>
      <%= f.label :message %>
      <%= f.text_area :message, :rows => 6 %>
    </div>
    <div class='field form-actions'>
      <%= f.submit t('submit', :scope => 'refinery.blog.posts.show'), :class =>"button" %>
    </div>
  <% end %>
</aside>
